*{
    margin: 0%;
    padding: 0%;
    color: blue;
}
nav{
    width: 100%;
    border-bottom: 3px solid midnightblue;
    margin-bottom: 10px;
}
ul{
    width: 80%;
    margin-left: 18%;
    margin-bottom: 5px;   
}
li {
    display: inline-block;
    background-color: aquamarine;
    text-align: center;
    width: 20%;
}
table{
    margin-left: 100px;
    margin-bottom: 30px;
}
.grande img{
    width: 85%;
    margin-left: 50px;
}
.pequeño{
    vertical-align: top;
    padding-left: 15%;
    width: 300px;
}
.pequeño img{
    width: 120px;   
}
article{
    width:70%;
    margin-bottom: 30px;
}
address{
    background-color: aquamarine;
    text-align: center;
    font-style: normal;
}
li:hover{
    background-color: blueviolet;
}
.local{
    margin-left: 400px;
    margin-bottom: 30px;
}
.pequeño2{
    vertical-align: top;
    margin-left: 68px;
    padding-left: 35%;
    width: 200px;
}
.pequeño2 img{
    width: 120px;
}
.port{
    margin-left: 0px;
    text-align: center;
    width: 30%;
}
.tres td{
    padding: 0px;
}
iframe .web{
    width: 180px;
}
.pequeño3{
    vertical-align: top;
    padding-left: 10%;
    width: 200px;
}
.pequeño3 img{
    width: 120px;
}

h1{
    text-align: center;
}
pre{
    font-size: 130%;
}
